@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
}

.eventFeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyInput {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}

.eventCard {
  display: flex;
  flex-direction: column;
  background-color: #e7e8d2;
  border-radius: 20px 20px 20px 20px;
  height: 461px;
  max-width: 311px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
}

.ticketInfo {
  margin: .5rem 0;
}

.transition {
  height: 771px;
}

.eventInfo {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.scannedTickets {
  margin-top: 2rem;
}

.eventFeedLogo {
  width: 30vw;
  max-width: 243px;
}

.logo {
  width: 80vw;
  margin-top: 44%;
  animation: grow 2s infinite;
}

@keyframes grow {
  /* Ange stilen vid 0% av animationen */
  0% {
    transform: scale(1);
  }

  /* Ange stilen vid 100% av animationen */
  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

h4,
p {
  margin: 7px;
}

input {
  background: #e7e8d2;
  border-radius: 16px;
  text-align: center;
  padding: 12px;
  border: 1px #333 solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
  margin: 1rem;
  position: relative;
  padding: 0.7rem;
  border-radius: 15px;
  background-color: #333;
  color: #fff;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}